<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="CrawlerOptions" type="Seo.Crawler.Selenium.CrawlerOptions, Seo.Crawler.Selenium" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  
  <CrawlerOptions FolderPath="C:/Agilebet/Seo/Seo0212/" 
                  WaitMilliSeconds="500" 
                  UserAgent="Mozilla/5.0 (Macintosh; Intel Mac OS X) seo.crawler"
                  MaxPageToVisit="10000"
                  StartUrl="https://preview.188bet.com"></CrawlerOptions>
</configuration>